body {
  position: absolute;
  top: 0;
  width: 100%;
}

body._lock {
  overflow: hidden;
}

.white {
  color: white;
}

.root {
  font-family: 'Ubuntu', sans-serif;
  background: white;
}

.App {
  width: 100%;
  min-height: 100vh;
}

.wrapper {
  margin-top: 80px;
}

@media screen and (max-width: 500px) {
  p {
    font-size: 18px;
  }
}

@font-face {
  font-family: 'Ubuntu';
  src: url('../media/fonts/Ubuntu/Ubuntu-Light.ttf') format('truetype');
}
